APP_HOST=wishlist.example.com
MINIO_HOST=s3.example.com
MINIO_CONSOLE_HOST=minio.example.com
TRAEFIK_NETWORK=traefik_proxy

ADMIN_TOKEN=change-me

MINIO_BUCKET=babywishlist
MINIO_ROOT_USER=minio-root-user
MINIO_ROOT_PASSWORD=change-this-root-password
MINIO_ACCESS_KEY=babywishlist-app
MINIO_SECRET_KEY=change-this-app-secret
